@media (min-width: 601px){
 .menu .links ul li a{
   float: left;
   text-align: right;
   margin-left: 8%;
   margin-top: 30px;
   margin-right: 0;
 }
 }

 @media (max-width: 600px){
 .menu .links ul li a{
   float: left;
   text-align: right;
   margin-left: 3%;
   margin-top: 30px;
   margin-right: 0;
 }
 }
*{
   margin: 0;
 }
body{
 background: #D5D5D5;
}

nav{
 background-color:#D5D5D5;
 width: 100%;
 height: 77px;
 /*position: fixed;*/
}



nav img{
 margin-top: 15px;
 margin-left: 20px;
}

h6{
 font-size: 20px;
 font-family: 'Raleway', sans-serif;
 text-align: center;
 margin-bottom: 40px;
}



#dropcontent {
 height: 100%; /* 100% Full-height */
 visibility: hidden;
 /*width: 0px;*/ /* 0 width - change this with JavaScript */
 position: fixed; /* Stay in place */
 z-index: 1; /* Stay on top */
 top: 0;
 left: 0;
 background: #D5D5D5;
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 60px; /* Place content 60px from the top */
 /*transition: 0.5s;*/ /* 0.5 second transition effect to slide in the sidenav */
 border-right:1px solid white;
}

#dropcontent li a {
   color: black;
   padding: 10px 10px;
   text-decoration: none;
   display: block;
   font-size: 20px;
   font-family: 'Raleway', sans-serif;
 }

.b1{
 background: #D5D5D5;
 color: black;
 border: 2px solid #D5D5D5;
 margin-left: 10px;
}

.drop{
 float: left;
}

.dropbtn{
 background: #D5D5D5;
 border: 2px solid  #D5D5D5;
 height: 20px;
   margin-top: 10px;
}

div.menu ul{
   list-style-type: none;
}

.links{
 width: 100%;
 height: 77px;
}


#list{
 font-family: 'Raleway', sans-serif;
}

#list li{
 margin-top: 5px;
}

.links ul li a{
 font-family: 'Raleway', sans-serif;
 text-decoration: none;
 color: black;
}

#list li:active{
   background: #888;
   color: #fff;
   text-decoration: line-through;
}

.addBtn {
   padding: 10px;
   height: 10px;
   width: 20px;
   background:#D5D5D5;
   color: black;
   float: left;
   text-align: center;
   font-size: 16px;
   cursor: pointer;
   transition: 0.3s;
   margin-right: 15px;
   font-family: 'Raleway', sans-serif;
}

#myInput{
 width: 120px;
 margin-top: 8px;
 margin-bottom: 30px;
 margin-right: 50px;
}

#list{
 text-align: left;
}

.close {
 right: 0;
 top: 0;
 padding: 4px 5px 10px 4px;
 margin-left: 2px;
}

.close:hover {
 background-color: white;
}

p{
 font-size: 200px;
 font-family: 'Raleway', sans-serif;
 text-align: center;
 padding-top: 200px;
 font-weight: 100;
 margin-bottom: 200px;
}




.clock {
 width: 30rem;
 height: 30rem;
 border: 10px solid #eaeaea;
 border-radius:50%;
 margin:50px auto;
 position: relative;
 padding:2rem;
}
.clock-face {
 position: relative;
 width: 100%;
 height: 100%;
 transform: translateY(-3px); /* account for the height of the clock hands */
}
.hand {
 width:50%;
 height:6px;
 background: white;
 position: absolute;
 top:50%;
 transform-origin: 100%;
 transform: rotate(90deg);
 transition: all 0.05s;
 transition-timing-function: cubic-bezier(0, 0.44, 0.3, 1.03);
}
.circle {
 z-index: 5;
 position: absolute;
 top: 48.5%;
 left: 48.3%;
 background: #5D4E4E;
 width: 3.5%;
 height: 3.5%;
 border-radius:50%;
}
.hour-hand {
 z-index: 2;
 width:35%;
 height:4px;
 left: 15%;
}
.second-hand {
 z-index: 4;
 top: 50%;
 left: -4%;
 transform-origin: 90%;
 width: 60%;
 height:2.5px;
 background: #5D4E4E;
}
.min-hand {
 z-index: 3;
 height:4px;
}
.dash {
 position: absolute;
 width: 1.5px;
 height: 5.7%;
}
.twelve {
 left: 50%;
 top: -2%;
}
.six {
 left: 50%;
 bottom: -6%;
}
.three {
 top: 50%;
 left: -2%;
 transform: rotate(90deg);
}
.nine {
 top: 50%;
 right: -2%;
 transform: rotate(90deg);
}
.one {
 left: 75%;
 top: 5%;
 height: 5%;
 transform: rotate(25.5deg);
}
.eleven {
 right: 75%;
 top: 5%;
 height: 5%;
 transform: rotate(-25.5deg);
}
.eight {
 top: 75%;
 left: 5%;
 height: 5%;
 transform: rotate(55.5deg);
}
.four {
 top: 75%;
 right: 3%;
 height: 5%;
 transform: rotate(-55.5deg);
}
.two {
 left: 95%;
 top: 25%;
 height: 5%;
 transform: rotate(55.5deg);
}
.ten {
 right: 95%;
 top: 25%;
 height: 5%;
 transform: rotate(-55.5deg);
}
.seven {
 top: 95%;
 left: 25%;
 height: 5%;
 transform: rotate(25.5deg);
}
.five {
 top: 95%;
 right: 25%;
 height: 5%;
 transform: rotate(-25.5deg);
}
.date{
 position: absolute;
 top: 45.5%;
 left: 70%;
 width: 12%;
 height: 12%;
 background: #eaeaea;
 /*background: red;*/
 border-radius: 5%;
 text-align: center;
 vertical-align: middle;
 line-height: 35.75px;
 color: #D9D3D3;
}
